#hour{
    transform: rotate(-1.5deg);
    transform-origin: 200px 200px;
}

.saniye{
    transform-origin: 200px 200px;
}

.saniye2{
    transform-origin: 200px 200px;
}

.yelkovan{
    transform-origin: 200px 200px;
}

.yelkovan2{
    transform-origin: 200px 200px;
}

.akrep{
    transform-origin: 200px 200px;
}

.akrep2{
    transform-origin: 200px 200px;
}